# OS garbage, Editors, IDEs, etc
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
.coverage
nbproject
.nbproject
build
.build
.settings
.settings/.*
.project
project
*.project
.buildpath
*.db
*.tmproj
*.sublime-project
.idea
*.idea/*

# Server Resources
server/target/
/server/*.iml
server/images/
server/files/
server/nbactions.xml
server/*.lic
server/nb-configuration.xml
server/0-resources
server/dependency-reduced-pom.xml
server/logs
server/.classpath
server/.project
server/RUNNING_PID

# Client side Resources
client/node_modules
client/dist
client/.tmp
client/.sass-cache
client/bower_components
