# OS garbage, Editors, IDEs, etc
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
.coverage
nbproject
.nbproject
build
.build
.settings
.settings/.*
.project
*.project
.buildpath
*.db
*.tmproj
*.sublime-project
.idea
*.idea/*

# Server Resources
target/
*.iml
images/
files/
nbactions.xml
*.lic
nb-configuration.xml
0-resources
dependency-reduced-pom.xml
logs
.classpath
.project
RUNNING_PID
project/project
project/target

# Client side Resources
ui/node_modules
ui/dist
ui/.tmp
ui/.sass-cache
ui/bower_components

