$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "gridle/sass/gridle/_gridle.scss";
// endbower

// generate classes :
@include gridle_generate_classes ( );

// import settings :
@import 'settings';
@import 'worm-main';
@import 'grid';


body {
  padding: 0;
}

// manage container width :
.container {
    max-width : 960px;
    margin : 0 auto;
}